/* ------------- change colour of navbar hover animations -------------- */
nav {
  background-color: var(--dark-green);
}

nav li:hover::before {
  background: var(--brown);
}
/* --------------------------------------------------------------------- */
body {
  background-color: var(--off-white);
}

main {
  color: var(--charcoal-black);
}

.about-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
}

.profile {
  max-width: 500px;
  height: 100%;
  float: left;
  text-align: center;
}

.profile img {
  width: 100%;
  border-radius: 12px;
}

.profile img {
  padding: 2em;
  width: 100%; height: auto;
}

.profile figcaption {
  text-align: center;
  margin-top: 0.5rem;
  font-size: 0.8rem;
  color: var(--dark-brown);
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.title-text h1 {
  color: var(--dark-green);
  font-size: 2.5rem;
}

.description p {
  margin-bottom: 1rem;
  line-height: 2;
}

.highlight-brown {
  font-size: 1.1rem;
  color: var(--brown);
}

.highlight-lavender {
  font-size: 1.1rem;
  color: var(--lavender);
}

.highlight-green {
  font-size: 1.5rem;
  color: var(--dark-green);
  font-weight: bold;
  position: relative;
}

.highlight-green::after {
  content: '';
  position: absolute;
  width: 100%; height: 100%;
  top: 0; left: 0;
  /* border-radius: 50px; */
  background: linear-gradient(to right, var(--lavender-transparent), var(--golden-yellow-transparent) 80%);
}