@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {

  /* accent colours */
  --green: #4c956c;
  --dark-green: #2c6e49;
  --lavender: #B57EDC;
  --lavender-transparent: #b57edc74;
  --brown: #d68c45;
  --dark-brown: #713600;

  /* button colours */
  --golden-yellow: #facc15;
  --golden-yellow-transparent: #facc1550;
  
  /* backgrounds & text */
  --charcoal-black: #1d1d1d;
  --off-white: #f7ede2;
  --beige: #F5F5DC;
  --dark-beige: #e9e9cd;
}

/* BASE STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--beige);
  font-family: "Poppins", sans-serif;
}

html,
body {
	/* hide scrollbar while still enabling scrolling */
  overflow-x: hidden;
	overflow-y: scroll;
	scrollbar-width: none; /* hides scrollbar in Firefox */
}

html::-webkit-scrollbar body::-webkit-scrollbar {
	display: none; /* hides scrollbar in Chrome, Edge, Safari */
}

footer {
  margin-top: 2rem;
  font-size: 0.9rem;
  color: var(--green);
}

/* INTRODUCTION STYLES */

.introduction {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url('../assets/forest-bg.jpg');
  background-size: cover;
  background-position: center -920px;
}

.introduction .overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* dark overlay */
  z-index: 1;
}

/* !!!!!!!! title text h1 is manually placed in the center using margins, try to fix this issue */
.title-text {  
  text-align: center;
  z-index: 10; /* put title-text above the overlay to prevent unwanted dimming of h1 */
  font-size: 2rem; /* fills .title-text with content so z-index works */
  position: relative;
}

.introduction .title-text h1 {
  margin: 4.5em 0 5em 0; 
  background: linear-gradient(
  to bottom right, 
  var(--dark-green),
  var(--green));
  background-clip: text;
  color: transparent;
  text-shadow: 0 0 20px hsla(250, 100%, 70%, 0.1);
}

/* ZERO-WASTE-PRINCIPLES STYLES */
#zero-waste-principles {
  width: 100vw;
  height: 150vh;
  display: flex; /* layout for sidenav and content */
}

#zero-waste-principles .content-wrapper {
  /* toggle settings */
  display: block; /* will change between block & none */

  width: 100%;
  height: 100%;
  padding: 2em;
}

#zero-waste-principles .title-text h1 {
  font-size: 3rem;
  margin-bottom: 1em;
  text-align: left;
  position: relative; /* to position the brown underline element */
}

#zero-waste-principles .title-text h1::after {
  content: '';
  position: absolute;
  bottom: 0; left: 0;
  width: 70px; height: 10px;
  background-color: var(--brown);
}

#zero-waste-principles .card {
  width: 100%;
  margin: 1em 0.4em;
  /* padding: 1em; */
  border: 1.6px solid var(--charcoal-black);
  border-radius: 25px;
  color: var(--charcoal-black);

  display: flex;
  align-items: center;
}

#zero-waste-principles .card .card-content {
  padding: 0 0.6em;
  translate: -5%;
}

#zero-waste-principles .card .card-content h3 {
  font-size: 1.7rem;
}

/* ANNUAL STATISTICS STYLES */
#annual-stats {
  width: 100vw;
  height: 95vh;
  padding: 4em;
  background-color: var(--dark-beige);
}

#annual-stats .card-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  translate: 0 50%;
}

#annual-stats .card {
  width: 300px;
  height: 180px;
  translate: 0 -130%;
  padding: 1.6em;
  background-color: var(--beige);
  box-shadow: 20px 20px 32px rgba(0, 0, 0, 0.2);

  display: flex;
  align-items: center;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* #annual-stats .card:hover {
  cursor: pointer;
} */

/* do not allow user hover, hover is controlled by JS (change if cher dun allow JS) */
#annual-stats .card.hover-effect {
  transform: translateY(-5px);
  box-shadow: 20px 20px 32px rgba(0, 0, 0, 0.4);
}

#annual-stats .card h3 {
  font-size: 2.2rem;
  color: var(--dark-green);
}

#annual-stats .card i {
  font-size: 3.2rem; /* bigger icon size */
  color: #d68b45cf;
  position: absolute;
  top: 40px; right: 40px;
}

#annual-stats .bar {
  width: 400px;
  background-color: var(--lavender-transparent);
  border-radius: 20px;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
}

#annual-stats .bar span {
  display: inline-block;
  background-color: var(--green);
  height: 20px;
  border-radius: 10px;
  transition: width 0.4s ease;
}

/* SECTION SEPARATOR BETWEEN #ANNUAL-STATS and #SUCCESS-STORIES */
#section-separator {
  padding: 0 4em 4em 4em;
  text-align: center;
}

#section-separator h3 {
  margin-top: 1.6em;
  color: #333;
  font-size: 1.2rem;
  font-weight: 300;
}

#section-separator .title-text {
  font-size: 2rem;
  color: var(--dark-green);
}

/* ZERO-WASTE SUCCESS STORIES STYLES */
#success-stories {
  width: 100vw;
  margin: 5em 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

#success-stories .polaroid {
  translate: 0 -85%;
  margin: 4em 1em 0 1em;
}

.polaroid-link { text-decoration: none; }

#success-stories .polaroid figure img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  filter: brightness(80%);
}

#success-stories .polaroid figure {
  padding: 10px;
  width: 300px;
  /* background: linear-gradient(to bottom right, var(--lavender), var(--lavender-transparent)); */
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  transform: rotate(-2deg);
  transition: transform 0.3s ease;
}  

#success-stories .polaroid figure:hover {
  transform: rotate(0deg) scale(1.02);
}  

#success-stories figcaption {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--charcoal-black);
  padding-top: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* fade-in text */
#success-stories .polaroid:hover figcaption {
  opacity: 1;
}